.main
    max-width: 1240px
    margin: 0 auto
.btn
    min-width: 105px
    height: 45px
    padding: 0 15px
    font-size: 18px
    font-family: "Arial"
    text-transform: uppercase;
    border-radius: 5px
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.15)
    text-shadow: 1px 0px 0px rgba(83, 131, 18, 0.4)
    &--green
        background-image: linear-gradient(90deg, #2a9800 0%, #42cc02 100%)
        color: #fff
    &:active
        padding-top: 2px

.label
    padding: 0 5px
    border-radius: 5px
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.15)
    color: #fff
    text-shadow: 1px 0px 0px rgba(83, 131, 18, 0.4)
    &--green
        background-image: linear-gradient(90deg, rgb(76,156,23) 0%, rgb(115,180,34) 100%)